<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @*<meta name="description" content="Multikart admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin template with unlimited possibilities.">
        <meta name="keywords" content="admin template, Multikart admin template, dashboard template, flat admin template, responsive admin template, web app">
        <meta name="author" content="pixelstrap">
        <link rel="icon" href="~/images/dashboard/favicon.png" type="image/x-icon">
        <link rel="shortcut icon" href="~/images/dashboard/favicon.png" type="image/x-icon">*@
    <title>Compexsale</title>
    @RenderSection("headSection", required: false)
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <link href="~/css/vendors/fontawesome.css" rel="stylesheet" />
    <link href="~/css/vendors/slick.css" rel="stylesheet" />
    <link href="~/css/vendors/slick-theme.css" rel="stylesheet" />
    <link href="~/css/vendors/animate.css" rel="stylesheet" />
    <link href="~/css/vendors/themify-icons.css" rel="stylesheet" />
    <link href="~/css/vendors/bootstrap.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/custom/client.css" rel="stylesheet" />
</head>
<body class="theme-color-1">
    <header>
        <div class="mobile-fix-option"></div>
        <div class="top-header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="header-contact">
                            <ul>
                                <li>Dobrodošli na Compexsale website</li>
                                <li><i class="fa fa-phone" aria-hidden="true"></i>Pozovite nas: 064 615 - 1235</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 text-end">
                        <ul class="header-dropdown">

                            <li class="onhover-dropdown mobile-account">
                                <i class="fa fa-user" aria-hidden="true"></i> Moj nalog
                                <ul class="onhover-show-div">
                                    <li><a href="@Url.Action("ClientLogin", "Client")">Login</a></li>
                                    <li><a href="@Url.Action("Register", "Client")">Registracija</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="main-menu">
                        <div class="menu-left">
                            
                            <div class="brand-logo">
                                <a href="@Url.Action("Index", "Home")">
                                    <img src="~/images/icon/CompexSaleLogoSmall.png"
                                         class="img-fluid responsive-img blur-up lazyload" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="menu-right pull-right">
                            <div>
                                <nav id="main-nav">
                                    <ul id="main-menu" class="sm pixelstrap sm-horizontal">
                                        <li><a href="@Url.Action("Index", "Home")">POČETNA</a></li>
                                        <li><a href="@Url.Action("AboutUs", "Client")">O NAMA</a></li>
                                        <li class="mega" id="hover-cls">
                                            <a href="#">PROIZVODI</a>
                                            <ul class="mega-menu full-mega-menu">
                                                <li>
                                                    <div class="container">
                                                        <div class="row">
                                                            <div class="col mega-box">
                                                                <div class="link-section">
                                                                    <div class="menu-title">
                                                                        <h5 class="category-underline">POLJOPRIVREDA I OPREMA</h5>
                                                                    </div>
                                                                    <div class="menu-content">
                                                                        <ul>
                                                                            <li>
                                                                                <a href="nursery.html">
                                                                                    Poljoprivreda i šumarstvo
                                                                                </a>
                                                                            </li>
                                                                            <li>
                                                                                <a href="vegetables.html">
                                                                                    Radne mašine
                                                                                </a>
                                                                            </li>
                                                                            <li><a href="bags.html">Poljoprivredni preparati</a></li>
                                                                        </ul>
                                                                    </div>
                                                                    <div class="menu-title mt-2">
                                                                        <h5 class="category-underline">ŽIVOTINJE I HRANA ZA ŽIVOTINJE</h5>
                                                                    </div>
                                                                    <div class="menu-content">
                                                                        <ul>
                                                                            <li><a href="nursery.html">Životinje</a></li>
                                                                            <li><a href="vegetables.html">Hrana za životinje</a></li>
                                                                            <li><a href="bags.html">Preparati za životinje</a></li>
                                                                        </ul>
                                                                    </div>
                                                                    <div class="menu-title mt-2">
                                                                        <h5 class="category-underline">PREVOZNA SREDSTVA I DELOVI</h5>
                                                                    </div>
                                                                    <div class="menu-content">
                                                                        <ul>
                                                                            <li><a href="index.html">Automobili</a></li>
                                                                            <li><a href="index.html">Kamioni</a></li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col mega-box">
                                                                <div class="link-section">
                                                                    <div class="menu-content">
                                                                        <ul>
                                                                            <li><a href="index.html">Kombi</a></li>
                                                                            <li><a href="index.html">Motocikli</a></li>
                                                                            <li><a href="index.html">Bicikli</a></li>
                                                                            <li><a href="index.html">Plovna sredstva</a></li>
                                                                            <li><a href="index.html">Ostala prevozna sredstva</a></li>
                                                                        </ul>
                                                                    </div>
                                                                    <div class="menu-title mt-2">
                                                                        <h5 class="category-underline">PREHRAMBENI I NEPREHRAMBENI PROIZVODI</h5>
                                                                    </div>
                                                                    <div class="menu-content">
                                                                        <ul>
                                                                            <li><a href="index.html">Indrustijski proizovidi</a></li>
                                                                            <li><a href="index.html">Domaći proizvodi</a></li>
                                                                            <li><a href="index.html">Sirovine</a></li>
                                                                            <li><a href="index.html">Odeća, obuća </a></li>
                                                                            <li><a href="#">Tekstilni proizvodi</a></li>
                                                                            <li><a href="#">Bebi oprema i dečije stvari</a></li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col mega-box">
                                                                <div class="link-section">
                                                                    <div class="menu-title">
                                                                        <h5 class="category-underline">ZEMLJIŠTA</h5>
                                                                    </div>
                                                                    <div class="menu-content">
                                                                        <ul>
                                                                            <li><a href="#">Građevinsko zemljište</a></li>
                                                                            <li><a href="#">Njive</a></li>
                                                                            <li><a href="#">Ostale kategorije</a></li>
                                                                        </ul>
                                                                    </div>
                                                                    <div class="menu-title mt-2">
                                                                        <h5 class="category-underline">NEKRETNINE</h5>
                                                                    </div>
                                                                    <div class="menu-content">
                                                                        <ul>
                                                                            <li><a href="#">Stanovi</a></li>
                                                                            <li><a href="#">Kuće</a></li>
                                                                            <li><a href="#">Vikendice</a></li>
                                                                            <li><a href="#">Poslovni objekti</a></li>
                                                                        </ul>
                                                                    </div>
                                                                    <div class="menu-title">
                                                                        <h5 class="category-underline">GRAĐEVINSKI MATERIJAL I OPREMA</h5>
                                                                    </div>
                                                                    <div class="menu-content">
                                                                        <ul>
                                                                            <li><a href="#">Rinfuzni građevinski materijal</a></li>
                                                                            <li><a href="#">Upakovani građevniski materijal</a></li>
                                                                            
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col mega-box">
                                                                <div class="link-section">
                                                                    <div class="menu-content">
                                                                        <ul>
                                                                            <li><a href="#">Građevinske mašine i oprema</a></li>
                                                                        </ul>
                                                                    </div>
                                                                    <div class="menu-title mt-2">
                                                                        <h5 class="category-underline">TEHNIKA</h5>
                                                                    </div>
                                                                    <div class="menu-content">
                                                                        <ul>
                                                                            <li><a href="#">Mobilni uređaji</a></li>
                                                                            <li><a href="#">Računarska oprema</a></li>
                                                                            <li><a href="#">Kancelarijska oprema</a></li>
                                                                            <li><a href="#">Električne mašine</a></li>
                                                                            <li><a href="#">Oprema</a></li>
                                                                            <li><a href="#">Uređaji</a></li>
                                                                        </ul>
                                                                    </div>
                                                                    <div class="menu-title mt-2">
                                                                        <h5 class="category-underline">RAZNE KUĆNE STVARI I OPREMA</h5>
                                                                    </div>
                                                                    <div class="menu-content">
                                                                        <ul>
                                                                            <li><a href="index.html">Nameštaj</a></li>
                                                                            <li><a href="index.html">Kuhinjska tehnika</a></li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col mega-box">
                                                                <div class="link-section">
                                                                    <div class="menu-title mt-2">
                                                                        <h5 class="category-underline">OSTALO</h5>
                                                                    </div>
                                                                    <div class="menu-content">
                                                                        <ul>
                                                                            <li><a href="index.html">Nameštaj</a></li>
                                                                        </ul>
                                                                    </div>
                                                                    <div class="menu-content">
                                                                        <ul>
                                                                            <li><a href="index.html">Umetnost</a></li>
                                                                            <li><a href="index.html">Obrazovanje i razonoda</a></li>
                                                                            <li><a href="index.html">Sportska oprema i rekviziti</a></li>
                                                                            <li><a href="index.html">Rudarstvo</a></li>
                                                                            <li><a href="index.html">Goriva</a></li>
                                                                            <li><a href="index.html">Aksesoari</a></li>
                                                                            <li><a href="index.html">Usluge</a></li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                       
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Logistic", "Client")">LOGISTIKA</a>
                                        </li>
                                        <li>
                                            <a href="#">ZANIMLJIVOSTI</a>
                                            <ul>
                                                <li><a href="@Url.Action("FAQ", "Client")">FAQ</a></li>
                                                <li><a href="@Url.Action("Vendor", "Client")">Postani Vendor</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="@Url.Action("Contact", "Client")">KONTAKT</a></li>

                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="page-body">

        <!-- Container-fluid starts-->
        <div class="container-fluid">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

    </div>

    <footer class="footer-light">
        <section class="section-b-space light-layout">
            <div class="container">
                <div class="row footer-theme partition-f">
                    <div class="col-lg-4 col-md-6">
                        <div class="footer-title footer-mobile-title">
                            <h4>about</h4>
                        </div>
                        <div class="footer-contant">
                            <p>
                                <b>Compexsale</b> je preduzeće za sve vrste dogovora, saradnje i konsultacija 
                                vezanih za razmenu, prodaju, organizaciju transporta i savetodavnih usluga.
                            </p>
                            <div class="footer-social">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col offset-xl-1">
                        <div class="sub-title">
                            <div class="footer-title">
                                <h4>USLUGE</h4>
                            </div>
                            <div class="footer-contant">
                                <ul>
                                    <li><a href="#">RAZMENA</a></li>
                                    <li><a href="#">PRODAJA</a></li>
                                    <li><a href="#">TRANSPORT</a></li>
                                    <li><a href="#">OTKUP</a></li>
                                    <li><a href="#">KONSULTACIJE</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="sub-title">
                            <div class="footer-title">
                                <h4>SITEMAP</h4>
                            </div>
                            <div class="footer-contant">
                                <ul>
                                    <li><a href="#">POČETNA</a></li>
                                    <li><a href="#">O NAMA</a></li>
                                    <li><a href="#">PROIZVODI</a></li>
                                    <li><a href="#">LOGISTIKA</a></li>
                                    <li><a href="#">ZANIMLJIVOSTI</a></li>
                                    <li><a href="#">KONTAKT</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="sub-title">
                            <div class="footer-title">
                                <h4>KONTAKT INFORMACIJE</h4>
                            </div>
                            <div class="footer-contant">
                                <ul class="contact-list">
                                    <li>
                                        <i class="fa fa-map-marker"></i>Štrosmajerova 18a, 25000 Sombor
                                    </li>
                                    <li><i class="fa fa-phone"></i>Telefon: +381 64 615 - 1235</li>
                                    <li><i class="fa fa-envelope-o"></i>Email: office@compexsale.com</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="sub-footer">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-md-6 col-sm-12">
                        <div class="footer-end">
                            <p>
                                <i class="fa fa-copyright" aria-hidden="true"></i> 2022 Compexsale - Web Solution
                                by <b>Go2Concepts</b>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <div class="tap-top">
        <div>
            <i class="fa fa-angle-double-up"></i>
        </div>
    </div>

    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/menu.js"></script>
    <script src="~/js/lazysizes.min.js"></script>
    <script src="~/js/slick.js"></script>
    <script src="~/js/bootstrap-notify.min.js"></script>
    <script src="~/js/script.js"></script>
    @RenderSection("dataTables", required: false)
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>