@model RetailPlatform.API.Models.DTO.ContactForm

@{
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>kontakt</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">compexsale</a></li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<section class="contact-page section-b-space">
    <div class="container">
        <div class="row section-b-space">
            <div class="col-lg-7 map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2783.2288566962!2d19.121570015817806!3d45.76660357910571!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x475cb5eacd28a42d%3A0x661be104d70ddd93!2z0KjRgtGA0L7RgdC80LDRmNC10YDQvtCy0LAgMTgsINCh0L7QvNCx0L7RgA!5e0!3m2!1ssr!2srs!4v1642522228340!5m2!1ssr!2srs"
                        allowfullscreen></iframe>
            </div>
            <div class="col-lg-5">
                <div class="contact-right">
                    <ul>
                        <li>
                            <div class="contact-icon">
                                <img src="~/images/icon/phone.png"
                                     alt="Generic placeholder image">
                                <h6>Kontakt</h6>
                            </div>
                            <div class="media-body">
                                <p>+381 64 615 - 1235</p>
                            </div>
                        </li>
                        <li>
                            <div class="contact-icon">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <h6>Adresa</h6>
                            </div>
                            <div class="media-body">
                                <p>Štrosmajerova 18a</p>
                                <p>25000 Sombor</p>
                            </div>
                        </li>
                        <li>
                            <div class="contact-icon">
                                <img src="~/images/icon/email.png"
                                     alt="Generic placeholder image">
                                <h6>Email adresa</h6>
                            </div>
                            <div class="media-body">
                                <p>office@compexsale.com</p>
                                <p>info@compexsale.com</p>
                            </div>
                        </li>
                        <li>
                            <div class="contact-icon">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                                <h6>Društvene mreže</h6>
                            </div>
                            <div class="media-body">
                                <p>Facebook</p>
                                <p>Instagram</p>
                                <p>LinkedIn</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <hr style="margin-bottom:70px;" class="rounded">
        <div class="row">
            <div class="col-sm-12">
                <form id="contact" class="theme-form" asp-controller="Client" asp-action="SendEmail">
                    <div class="form-row row">
                        <div class="col-md-6">
                            <label for="name">Ime i prezime</label>
                            @Html.TextBoxFor(model => model.Name, new { @class = "form-control", autocomplete = "off", required = "required", @placeholder = "Unesite ime i prezime" })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-6">
                            <label for="email">Email</label>
                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control", autocomplete = "off", required = "required", @placeholder = "Unesite email" })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-md-12">
                            <label for="review">Poruka</label>
                            @Html.TextAreaFor(model => model.Content, new { @class = "form-control", autocomplete = "off", required = "required", @rows = "6", @placeholder = "Unesite poruku" })
                            @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-12">
                            <button form="contact" class="btn btn-solid" type="submit">POŠALJITE PORUKU</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
