@model RetailPlatform.API.Models.DTO.ProfileDTO

@{
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
    var error = TempData["Error"] as string;
}

<div class="col-md-12 text-center" style="margin-top:25px;">
    <a id="edo-ani1" class="btn btn-solid w-auto">Fizičko lice</a>
    <a id="edo-ani2" class="btn btn-solid w-auto">Pravno lice</a>
</div>

<section class="register-page section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3 id="vendor-title">Registracija</h3>
                <div class="theme-card">
                    @if (!string.IsNullOrEmpty(error))
                    {
                        <h6 class="alert-danger" style="padding:10px;margin-bottom:20px;">@error</h6>
                    }
                    <form class="theme-form" id="register" asp-controller="Client" asp-action="Register" autocomplete="off" novalidate>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-row row label-margin">
                            <div class="col-md-6 physicalPerson">
                                @Html.CheckBoxFor(model => model.LegalEntity, new { style = "display:none;", id = "legalCheckbox" })
                                <label for="email">Ime i prezime <span class="retail-validation">*</span></label>
                                @Html.TextBoxFor(model => model.FullName, new { @class = "form-control", @placeholder = "Ime i prezime", autocomplete = "off", required = "required" })
                                @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-6 physicalPerson">
                                <label for="email">JMBG <span class="retail-validation">*</span></label>
                                @Html.TextBoxFor(model => model.JMBG, new { @class = "form-control", @placeholder = "JMBG", autocomplete = "off", required = "required" })
                                @Html.ValidationMessageFor(model => model.JMBG, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-6 legalPerson">
                                <label for="email">Naziv kompanije <span class="retail-validation">*</span></label>
                                @Html.TextBoxFor(model => model.CompanyName, new { @class = "form-control", @placeholder = "Naziv kompanije", autocomplete = "off", required = "required" })
                                @Html.ValidationMessageFor(model => model.CompanyName, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-6 legalPerson">
                                <label for="review">PIB <span class="retail-validation">*</span></label>
                                @Html.TextBoxFor(model => model.PIB, new { @class = "form-control", @placeholder = "PIB", autocomplete = "off", required = "required" })
                                @Html.ValidationMessageFor(model => model.PIB, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-row row label-margin">
                            <div class="col-md-6">
                                <label for="review">Email adresa <span class="retail-validation">*</span></label>
                                @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @placeholder = "Email adresa", autocomplete = "off", required = "required" })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-6">
                                <label for="email">Broj telefona <span class="retail-validation">*</span></label>
                                @Html.TextBoxFor(model => model.Telephone, new { @class = "form-control", @placeholder = "Broj telefona", autocomplete = "off", required = "required" })
                                @Html.ValidationMessageFor(model => model.Telephone, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-row row label-margin">
                            <div class="col-md-6">
                                <label for="review">Adresa <span class="retail-validation">*</span></label>
                                @Html.TextBoxFor(model => model.Address, new { @class = "form-control", @placeholder = "Adresa", autocomplete = "off", required = "required" })
                                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-6">
                                <label for="email">Grad <span class="retail-validation">*</span></label>
                                @Html.TextBoxFor(model => model.City, new { @class = "form-control", @placeholder = "Grad", autocomplete = "off", required = "required" })
                                @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-row row label-margin">

                            <div class="col-md-6">
                                <label for="review">Poštanski kod <span class="retail-validation">*</span></label>
                                @Html.TextBoxFor(model => model.ZipCode, new { @class = "form-control", @placeholder = "Poštanski kod", autocomplete = "off", required = "required" })
                                @Html.ValidationMessageFor(model => model.ZipCode, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-6">
                                <label for="review">Šifra <span class="retail-validation">*</span></label>
                                @Html.TextBoxFor(model => model.Password, new { @class = "form-control", @placeholder = "Šifra ", autocomplete = "off", required = "required" })
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-row row" style="margin-top:20px;">
                            <label>Vrsta profila <span class="retail-validation">*</span></label>
                            <div class="m-checkbox-inline mb-0 d-flex label-margin" style="margin-top:10px;">
                                <div class="d-flex" style="margin-right:40px;">
                                    @Html.CheckBoxFor(model => model.IsVendor)
                                    <label class="register-label" for="@Html.DisplayNameFor(model => model.IsVendor)"><span style="color:darkslategray">Lice na strani ponude</span></label>
                                </div>
                                <div class="d-flex">
                                    @Html.CheckBoxFor(model => model.IsCustomer)
                                    <label class="register-label" for="@Html.DisplayNameFor(model => model.IsCustomer)"><span style="color:darkslategrey">Lice na strani tražnje</span></label>
                                </div>
                            </div>
                        </div>
                        <div class="form-row row" style="margin-top:10px;">
                            <label class="text-uppercase"><span class="retail-validation">**</span> Pre nego što se registrujete, pročitajte uslove korišćenja i pravilnik aktivnosti</label>
                            <div class="m-checkbox-inline mb-0 d-flex label-margin">
                                <div>
                                    @Html.CheckBoxFor(model => model.AgreeWithTermsAndConditions)
                                    <label for="@Html.DisplayNameFor(model => model.AgreeWithTermsAndConditions)"><span style="color:darkslategray">Prihvatam</span></label>
                                    <a class='modal-link text-underline'>uslove korišćenja i pravilnik aktivnosti</a> i 
                                    <a class="modal-principle text-underline">pravila o zaštiti ličnih podataka</a>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="pull-right retail-button label-margin">
                        <button type="submit" form="register" class="btn btn-solid">Kreiraj nalog</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header model-header-bottom">
                <h5 class="modal-title" id="exampleModalScrollableTitle">USLOVI KORIŠĆENJA I PRAVILA POSLOVNIH AKTIVNOSTI</h5>
                <button type="button" class="close" style="border:none;" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span class="text-color text-underline">
                    USLOVI I PRAVILA POSLOVNIH AKTIVNOSTI U VEZI SA KORIŠĆENJEM POSLOVNE PLATFORME <b>COMPEXSALE</b>
                </span>
                <br />
                <br />
                <b>Poslovna platforma Compexsale</b> je razvijena kako bi pravnim i fizičkim licima kroz posredovanje omogućila ubrzavanje svojih poslovnih aktivnosti kroz kompenzaciju, razmenu, diskontnu prodaju, logistiku, konsalting i prodaju i kupovinu dela posla ili u celosti i direktno povezala i omogućila online prostor za interakciju i saradnju.
                <br />
                <b>Prvi element koji čini poslovnu platformu Compexsale drugačijim od postojećih idejnih rešenja</b> na ovu temu je razvijen kako bi poslovne subjekte i fizička lica kroz posredovanje i direktno povezao i omogućio online prostor za interakciju i saradnju.
                <br />
                <b>Drugi element koji čini poslovnu platformu Compexsale drugačijom od postojećih idejnih rešenja</b> na ovu temu je fokus na podsticanje interakcija kroz platformu, baziran na rešenjima koja će pružiti veću sigurnost i transparentnost u odnosima, kako bi se izgradilo jače poverenje i saradnja. Poslovna platforma Compexsale sadrži „5 koraka“ koji će pratiti proces od registracije, uspostavljanja kontakata, pronalaženje rešenja već postojećom ponudom i tražnjom, pronalaženje rešenja kroz posredovanje, do razmene bitnih sadržaja i dokumenata, i na kraju konkretnih dogovora-ugovora.
                <br />
                <br />
                <b>Tri ključne „interakcije“ na poslovnoj platformi Compexsale su:</b>
                <br />
                <br />
                1. <b>Interakcije između korisnika</b> na platformi, korisnika i platforme, platforme  i posebno podržanih grupa. Interakcije su ojačane mehanizmima koji podstiču transparentnost i sprečavaju zloupotrebe.
                <br />
                2. <b>Interakcije kroz informisanje korisnika</b> od strane platforme (preporučivanje jednih članova drugima; pružanje informacija uz svaku poslovnu priliku kroz posredovanje),
                <br />
                3. <b>Interakcije podstaknute prikupljenim podacima</b> o broju i strukturi korisnika i njihovim aktivnostima na platformi.
                <br />
                <br />
                Platforma postaje baza podataka i oglasna tabla u kojoj će biti skladištene informacije o svim ponudama i tražnji kroz kategorije proizvoda i usluga, a u krajnjem treba da postane Poslovni hab.
                <br />
                <br />
                <b>Poslovna platforma Compexsale ostvarivaće svoj pun potencijal</b> (funkcionalnost) kroz registrovanje profila korisnika, konkretnom ponudom ili tražnjom, kada se na platformi registruje i aktivno uključi najmanje 100 predstavnika preduzetnika, malih i srednjih preduzeća iz Srbije i bar toliko fizičkih lica. Ova online platforma bi mogla da pomogne u mentorisanju, brokeringu, i podsticanju interakcija kroz aktivnost kreiranja „poslovnog haba“, koja će pružati podršku poslovnim subjektima i fizičkim licima u ubrzavanju poslovnih aktivnosti. Poslovni hab podržava poslovne firme i fizička lica tako što na dnevnom nivou analizira ponudu i tražnju i eventualni potencijal, mapira i prilazi firmama i preduzetnicima u zemlji i inostranstvu radi podsticanja saradnje. Ovakav vid aktivnosti omogućiće raširenu, profitabilnu i bržu saradnju.
                <br />
                <br />
                <b>Postupak registracije, pravila paltforme i kreiranje profila</b>
                <br />
                <br />
                Prijavom na web adresu pristupa se poslovnoj platformi Compexsale. Ukoliko želite da se oglasite na platformi u određenoj grupi proizvoda ili posla na strani ponude ili tražnje, potrebno je da se prvo registrujete (klikom na polje Registruj se). Unošenjem traženih podataka kreirate svoj profil i definišete kroz koji od ponuđenih poslovnih aktivnosti želite da realizujete svoj zahtev kao i kojoj grupi pripada vaš proizvod ili usluga:
                <br />
                <ul>
                    <li>•	kompenzacija, (ispunjenjem zakonskih uslova da se poslovna aktivnost realizuje kroz kompenzaciju),</li>
                    <li>•	razmena (ispunjenjem zakonskih uslova kada je moguće izvršiti razmenu dobara ili usluga kroz interes svih strana učesnica poslovne aktivnosti),</li>
                    <li>•	diskontna prodaja (prodaja po nižim cenama od prosečnih tržišnih zbog hitne prodaje, kratkih rokova upotrebe, neperspektivne i nepotrebne robe za firmu...),</li>
                    <li>•	prodaja biznisa (oglašavanje klijenta plaftorme o zainteresovanosti za prodaju celokupnog ili dela posla kroz određen procenat vlasničkog udela, kao i eventualne tražnje za kupovinom konkretnog preduzeća u celosti ili određenom delu),</li>
                    <li>•	logistika (realizacija dela ili svih logističkih poslova u celini: transporta, špedicije, skladištenja),</li>
                    <li>•	konsalting (u odnosu na zahtev klijenta iznalaze se najoptimalnija rešenja i prezentuju ponude kako bi se realizovala konkretna zamisao).</li>
                </ul>
                <br />
                <br />
                Platforma obezbeđuje da se zahtevi registrovanih klijenata kroz posredovanje u što kraćem vremenskom roku obrade i time dođe do željene realizacije. Za sve ponuđene poslovne aktivnosti koje platforma nudi obezbeđena je zakonska propratna dokumentacija koja treba da obezbedi poslovanje u skladu sa zakonskim normama.
                <br />
                <br />
                Ova poslovna platforma nije zamišljena da prvobitno svoju poslovnu misiju obavlja kroz komercijalno oglašavanje i prodaju proizvoda i usluga jer za to postoje specijalizovane platforme, sajtovi ili firme.
                <br />
                Na platformi je omogućeno reklamiranje firmi koje mogu da ponude bliske sadržaje podrške datoj poslovnoj ponudi čime bi se na jednom mestu omogućila brza konekcija sa potrebnim poslovnim subjektom.
                <br />
                Za izvršenje zahteva klijenata platforma je definisala posredničku proviziju čija visina zavisi od obima realizacije (kroz prodaju, razmenu, kompenzaciju).
                <br />
                <br />
                Ukoliko je realizacija u vrednosti:
                <br />
                •	do 500.000 dinara posrednička provizija iznosi 7% ukupne vrednosti robe ili usluge
                <br />
                •	do 5.000.000 dinara posrednička provizija iznosi 5% ukupne vrednosti robe ili usluge
                <br />
                •	preko 5.000.000 dinara posrednička provizija iznosi 3% ukupne vrednosti robe ili usluge
                <br />
                <b>* Posrednička provizija može biti plaćena u robi ili usluzi koja je predmet ugovora, s tim što se u tom slučaju obračunava posrednička provizija od 15% od ukupne vrednosti robe ili usluge bez obzira na njenu visinu.</b>
                <br />
                <br />
                Konkretnu ponudu ili tražnju registrovanih poslovnih aktivnosti na platformi klijent kreira popunjavanjem traženih podataka kroz ponuđene opcije. Kada se dodaju fotografije koje treba da opišu bliže proizvod ili uslugu nije dozvoljeno da iste sadrže motive okoline čime bi se identifikovala tačna lokacija, naziv poslovnog subjekta, osobe iz firme ili druga obeležja koja bi omogućila tačnu identifikaciju (npr. na fotografiji nije dozvoljeno da se nalazi naziv firme u bilo kom formatu, reklama firme, širi reon lokacije, lice koje radi u firmi već isključivo samo proizvod, sredstvo ili izgled usluge). Platforma treba da obezbedi realizaciju kroz posredovanje i nije moguće da klijenti direktno korespondiraju do potpisivanja i realizacije Ugovora o posredovanju.
                <br />
                Kada se klijent platforme registruje administrator vrši proveru podataka i obeležja ponude ili tražnje koja moraju da budu u skladu sa definisanim pravilima oglašavanja na platformi i tek nakon detaljne provere postavlja profil na platformu. Registrovanje na platformi je besplatno. Naplaćuje se isključivo provizija na način kako je to objašnjeno ranije. Dodatni troškovi koji se kasnije ispostave kao neophodni da bi došlo do realizacje (transport, carinjenje, skladištenje, analize robe...) nisu obračunati u proviziji već idu po zahtevu klijenta i na njegov račun. Svi podaci koji se popunjavaju kroz registraciju su neophodni kako bi se izvršila poslovna provera klijenta i izradio njegov profil. Svi podaci su zaštićeni i služe isključivo za registrovanje na platformi kako bi se stvorili uslovi za izradu zakonske dokumentacije koja treba da prati poslovnu aktivnost. Prihvatanjem Izjave o zaštiti privatnosti klijent je omogućio korišćenje unetih podataka za obavljanje poslovne aktivnosti u skladu sa pravilima platforme. Ukoliko klijent nije saglasan sa nekim od pravila platforme nije moguće izvršiti registraciju dok se sve ne potvrdi kao saglasnost.
                <br />
                <br />
                <hr />
                ODRICANJE OD ODGOVORNOSTI
                <br />
                <br />
                Sve informacije na ovoj platformi date su u dobroj nameri i rukovodstvo COMPEXSALE-a veruje u njihovu tačnost.
                <br />
                Informacije o našim delatnostima su date u najboljoj nameri da se široka javnost obavesti o vrsti i kvalitetu usluga koje klijenti ili budući klijenti mogu da očekuju od nas.
                <br />
                <br />
                Sve poslovne prilike, bez obzira da li mi imamo mandat-ugovor od strane klijenta ili su postavljene samo radi obaveštenja, se moraju posmatrati samo kao poslovne informacije koje bi svaki klijent morao da proveri i evaluira kako bi došao do pravilne procene u vezi sa poslovnom prilikom koja ga interesuje.
                <br />
                Sva saopštenja, vesti ili članci su dati informacije radi i moraju se tako tretirati.
                <br />
                <br />
                Bilo kakva informacija na ovoj platformi nije savet i ne može se tretirati kao savet ili uputstvo. COMPEXSALE ne snosi nikakvu odgovornost ukoliko neko pretrpi bilo kakvu štetu zbog informacije sadržane na ovoj platformi.
                <br />
                <br />
                COMPEXSALE poštuje privatnost lica koja posete ovaj sajt i COMPEXSALE ne utvrđuje njihov identitet.
                <br />
                <br />
                COMPEXSALE može da zatraži određene podatke klijenta i/ili njegove kontakt detalje kako bi odgovorio na njegove konkretne upite i zahteve i sklopio ugovor o posredovanju. Međutim, COMPEXSALE neće tako dobijene informacije ustupati trećim licima.
                <hr />
                <b>Ovim potvrđujem da sam pročitao Uslove korišćenja poslovne platforme Compexsale. *</b>
                <br />
                <b>
                    Ovim potvrđujem da sam obavešten o neophodnosti obrade ličnih podataka u svrhu obavljanja
                    poslovnog procesa i sačinjavanja Ugovora o posredovanju kako je ovde navedeno. *
                </b>
                <br />
                <b>
                    Ovim dajem saglasnost za obradu mojih ličnih podataka u svrhu budućeg obavljanja poslovnog
                    procesa preko poslovne platforme Compexsale kao što je ovde navedeno.
                </b>
                <br />
                <b>
                    Nedostavljanje ovih informacija će onemogućiti registrovanje na poslovnoj platformi Compexsale i
                    kreiranje profila na trenutno odabrani način prijave.
                </b>
                <br />
                <br />
                <br />
                <br />
                <span class="pull-right">
                    <b>Compexsale team</b>
                </span>
                <br />
            </div>
            <div class="modal-footer">
                <button type="button" class="close btn btn-solid md" data-dismiss="modal">Zatvori</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="principleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="principleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header model-header-bottom">
                <h5 class="modal-title" id="principleModalScrollableTitle">USLOVI KORIŠĆENJA I PRAVILA POSLOVNIH AKTIVNOSTI</h5>
                <button type="button" class="close close-principle" style="border:none;" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span class="text-color text-underline">
                    Politika kolačića i zaštite ličnih podataka
                </span>
                <br />
                <br />
                Dobrodošli na web stranicu <a href="/Home/Index">COMPEXSALE</a>. Povezivanjem na web stranicu ili pretraživanjem iste, saglasni ste da ste pročitali, razumeli i prihvatili, bez ograničenja ili rezervi, politiku upravljanja kolačićima i ličnim podacima („politika“) i naše odredbe i uslove upotrebe. Preporučujemo da ih pažljivo pročitate.
                <br />
                <br />
                Cilj ovih propisa je da vas informiše o pravima i slobodama koje možete ostvariti u pogledu korišćenja svojih ličnih podataka, kao i da opiše mere koje preduzimamo da bismo te podatke zaštitili.
                <br />
                Compexsale  je “kontrolor podataka“ odgovoran za obradu ličnih podataka koji se koriste za upravljanje ovom web stranicom. Ovi postupci obrade obavljaju se u skladu sa važećim zakonom.
                <br />
                1. Cilj obrade, pravna osnova, period čuvanja i tipovi podataka koji se prikupljaju
                <br />
                Kada posetite ovu web stranicu, možda će biti potrebno da nam dostavite određene lične podatke, kao što je vaše ime i prezime, da biste mogli koristiti usluge koje su vam na raspolaganju.
                <br />
                <br />
                Podaci se obrađuju u sledeće svrhe:
                <br />
                •	Pružanje usluge upravljanja pitanjima koja postavljate koristeći obrazac za kontakt. Naročito možemo sakupljati neke vaše lične podatke u svrhu spoljašnje komunikacije, da bismo odgovorili na vaše zahteve za informacijama i naučili da bolje odgovorimo na vaše potrebe.
                <br />
                •	U skladu sa vašim pristankom za obradu podataka, koji je izraz vaše slobodne, specifične i jasne volje. Te informacije su potrebne da bismo mogli da obradimo vaš zahtev jer bez njih nije moguće zaključiti ugovor. Imate pravo da svoju saglasnost povučete u bilo kom trenutku bez ugrožavanja bilo kojeg postupka obrade koji je već završen, tako što ćete pisati na sledeću adresu: Compexsale, Štrosmajerova 18a, 25000 Sombor, R.Srbija ili putem elektronske pošte na adresu compexsale@gmail.com.
                <br />
                •	Upravljanje sporovima, kako bismo mogli da ispunimo svoje pravne obaveze. Bez njih, vaš zahtev se ne može obraditi, jer bismo u suprotnom prekršili zakon.
                <br />
                •	Izradu statistike o posetama web stranici <a href="/Home/Index">www.api.compexsale.org</a> koja je neophodna da bismo mogli da analiziramo vaše pregledanje i merimo posetu web stranici, radi poboljšanja kvaliteta sadržaja i korisničkog iskustva.
                <br />
                <br />
                U našim obrascima na platformi, obavezna polja označena su zvezdicom. Ako ne odgovorite na obavezna pitanja, nećemo moći da vam pružimo traženu uslugu.
                <br />
                Vaši lični podaci se nakon toga ne obrađuju ni na koji način koji ne odgovara nameni opisanoj gore ili u obrascima za prikupljanje podataka. Vaši podaci se čuvaju najduže jednu godinu i  ne duže nego koliko je neophodno za odgovor na vaš upit.
                <br />
                <br />
                2. Primaoci podataka
                <br />
                Vaši lični podaci mogu biti saopšteni jednom ili većem broju službi kontrolora podataka ili drugim kompanijama sa kojima ćete biti povezani,  u svrhe prosleđivanja odgovora na vaš upit sa web stranice.
                <br />
                <br />
                3. Bezbednost i poverljivost vaših podataka
                <br />
                Kontrolor podataka preduzima odgovarajuće korake da sačuva bezbednost i poverljivost vaših ličnih podataka, kao i da spreči njihovo iskrivljavanje, oštećenje ili otkrivanje neovlašćenim trećim stranama.
                <br />
                <br />
                <b>Upravljanje kolačićima</b>
                <br />
                <br />
                <b>4.1. Princip</b>
                <br />
                <br />
                Kolačić je datoteka koja omogućava web stranici da sačuva informacije vezane za pretraživanje te web stranice sa vašeg računara kao što su broj poseta, broj pregledanih stranica, demografski podaci, interesovanja, geografska lokacija, izvor saobraćaja, datum i vreme pregledanja, deljenje na društvenim mrežama, da bi se vaše posete toj web stranici lakše odvijale i kako bismo vam ponudili personalizovan sadržaj.
                <br />
                Možete u svakom trenutku izbrisati kolačiće koji su uskladišteni na vašem kompjuteru, suprotstaviti se skladištenju novih kolačića i dobijati obaveštenje pre skladištenja novih kolačića tako što ćete promeniti svoje postavke pretraživača koristeći dole navedena uputstva („Vrste kolačića, kolačići i statistika, postavke“).
                <br />
                <b>Napominjemo da, ukoliko uklonite kolačić ili se suprotstavite skladištenju kolačića na vašem uređaju, možda nećete moći da koristite neke od usluga te web stranice.</b>
                <br />
                <br />
                <b>4.2 Vrste kolačića, kolačići i statistika i postavke.</b>
                <br />
                <br />
                Kolačići koji se mogu skladištiti na vašem serveru kada pretražujete web stranicu su kolačići čija je isključiva svrha da omoguće ili olakšaju elektronsku komunikaciju ili koji su neophodni da bi se pružila usluga koju tražite, ili statistički kolačići i drugi kolačići u skladu sa dole navedenim uslovima.
                <br />
                Kada je <b>za čuvanje kolačića potrebna vaša saglasnost</b>, tu salgasnost tražimo od vas putem natpisa o kolačićima koji se nalazi na prvoj strani web stranice na koju naiđete, <b>i u kojoj vezi je jasno stavljeno da znanja da prihvatate kolačiće ukoliko nastavite da pretražujete web stranicu.</b>
                <br />
                <br />
                <b>4.2.1. Koji kolačići se skladište?</b>
                <br />
                <br />
                <b>•	Kolačići koje izdaje kontrolor podataka</b>
                <br />
                <br />
                <b>Statistički kolačići</b> se koriste da bi se izmerio broj poseta, broj pregledanih stranica, aktivnost korisnika na web stranici i učestalost poseta. Upotrebljeni statistički alati, AT INTERNET i Google Analytics generišu kolačiće sa jedinstvenim identifikatorom, koji se skladišti najduže 2 godine. Vaša IP adresa se takođe preuzima, da bi se utvrdio grad iz kojeg pristupate web stranici. Vaša IP adresa odmah postaje anonimna nakon upotrebe, tako da se ne možete identifikovati kao fizičko lice. Statističke kolačiće na veb stranici sakupljaju provajderi AT Internet i Google Analytics i potom ih prenose kontroloru podataka u celokupnom i anonimnom obliku na mrežni interfejs kojem jedino on ima pristup. Sakupljeni podaci se ne prenose na treća lica, niti se koriste u neke druge svrhe. Ove kolačiće možete blokirati u svakom trenutku tako što ćete se isključiti na način opisan gore.
                <br />
                <br />
                <b>4.2.2 Kako se brišu kolačići, primaju obaveštenja o njihovom skladištenju, odnosno menjaju postavke pretraživača?</b>
                <br />
                <br />
                <b>•	Kako se brišu kolačići koji su već uskladišteni na vašem kompjuteru?</b>
                <br />
                o	Idi na svoju radnu stanicu:
                <br />
                o	Na C:\ disk jedinici odaberite fasciklu Windows;
                <br />
                o	Otvorite fasciklu „Temporary internet Files“ (privremene internet datoteke)
                <br />
                o	Izaberite sve datoteke (CTRL A);
                <br />
                o	Izaberite opciju „izbriši“ (delete).
                <br />
                <br />
                <b>•	Kako da promenite postavke pretraživača da biste odbili skladištenje kolačića ili da biste bili obavešteni o istom?</b>
                <br />
                •	U pretraživaču Internet Explorer 5 (Microsoft): Odaberite “Tools” i potom “Internet Options”. Kliknite na karticu “Security” tab, onda na “Custom level” i spustite se do odeljka “cookies” (kolačići). Pored “Allow cookies that are stored on your computer” (Dozvolite skladištenje kolačića na svom kompjuteri), odaberite “Ask” da biste bili obavešteni ili “Disable” da odbijete sve kolačiće;
                <br />
                •	U pretraživaču Internet Explorer 6, 7 ili 8 (Microsoft): Odaberite “Tools”, “Internet Options”, “Privacy”, a onda nivo koji želite primeniti;
                <br />
                •	U pretraživaču Firefox: Kliknite na “Tools” i odaberite “Options”. U kartici “Privacy and security”, odštiklirajte polje “Accept cookies from websites” (Prihvatite kolačiće sa veb stranica);
                <br />
                <br />
                U pretraživaču Chrome (Google): Kliknite na “Customize and control Google Chrome” i odaberite “Settings” (postavke). U rubrici “Privacy and security”, kliknite na “Content settings” i omogućite “Block third-party cookies” (blokirajte kolačiće trećih strana).
                <br />
                <br />
                <b>5. Vaša prava / Kontakt</b>
                <br />
                <br />
                U skladu sa tekućim propisima, imate pravo da uložite prigovor na korišćenje ličnih podataka.
                <br />
                Takođe imate pravo da prethodno date saglasnost za marketing i da uložite prigovor na isto u skladu sa važećim propisima.
                <br />
                Možete zatražiti da vam se lični podaci pošalju i imate pravo da date uputstva za korišćenje vaših ličnih podataka nakon vaše smrti.  Takođe možete zatražiti ograničenje, prenosivost podataka  i/ili upućivanje zahteva nadležnom nadzornom organu. Molimo vas da koristite obrazac za kontakt da biste podneli zahtev ili ga pošaljite na sledeću adresu: Compexsale, Štrosmajerova 18a, 25000 Sombor, R. Srbija, ili se obratite našoj službi administracije putem e-mail adrese compexsale@gmail.com.
                <br />
                <br />
            </div>
            <div class="modal-footer">
                <button type="button" class="close close-principle btn btn-solid md" data-dismiss="modal">Zatvori</button>
            </div>
        </div>
    </div>
</div>



@section dataTables {
    <script src="~/js/custom-js/create-vendor.js"></script>
    <script src="~/js/dashboard/form-validation-custom.js"></script>
    <script>
        $(".modal-link").click(function () {
            $('#exampleModalScrollable').modal('show');
        });

        $(".modal-principle").click(function () {
            $('#principleModalScrollable').modal('show');
        });

        $(".close").click(function () {
            $('#exampleModalScrollable').modal('hide');
        });

        $(".close-principle").click(function () {
            $('#principleModalScrollable').modal('hide');
        });
    </script>
}