@model RetailPlatform.API.Models.DTO.ProductPreviewDTO

@{
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

<section>
    <div class="collection-wrapper ratio_asos">
        <div class="container">
            <div class="row">
                @if (Model.IsRequest == false)
                {
                    <div class="col-lg-6">
                        <div class="row product_image_4">
                            <div class="col-6">
                                <div class="image-border details-img" style="background-image:url('@Model.ImgUrl1')">
                                    <img src="@Model.ImgUrl1" alt=""
                                         class="img-fluid blur-up lazyload bg-img">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="image-border details-img" style="background-image:url('@Model.ImgUrl2')">
                                    <img src="@Model.ImgUrl2" alt=""
                                         class="img-fluid blur-up lazyload bg-img ">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="image-border details-img" style="background-image:url('@Model.ImgUrl3')">
                                    <img src="@Model.ImgUrl3" alt=""
                                         class="img-fluid blur-up lazyload bg-img">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="image-border details-img" style="background-image:url('@Model.ImgUrl4')">
                                    <img src="@Model.ImgUrl4" alt=""
                                         class="img-fluid blur-up lazyload bg-img">
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <div class="col-lg-6 rtl-text">
                    <div class="product-right">
                        <div class="product-count">
                            <ul>
                                <li>
                                    <span class="lang">@Model.Category</span>
                                </li>
                            </ul>
                        </div>
                        <h2>@Model.Name</h2>

                        <div class="label-section">
                            <span class="badge badge-theme-color">@Model.Active</span>
                        </div>

                        @if (Model.IsRequest == false)
                        {
                            <div class="product-count">
                                <ul>
                                    <li>
                                        <img src="~/images/icon/truck.png" class="img-fluid" alt="image">
                                        <span class="lang">Mogućnost organizacije transporta, skladištenja i isporuke.</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="border-product">
                                <h6 class="product-title">Načini kupovine / prodaje</h6>
                                <div>
                                    @Model.IsComepnsation
                                </div>
                                <div>
                                    @Model.IsExchange
                                </div>
                                <div>
                                    @Model.IsDiscontSale
                                </div>
                            </div>
                        }
                        <div class="border-product">
                            @if (Model.IsRequest == false)
                            {
                                <h6 class="product-title">Detalji proizvoda</h6>
                            }
                            else
                            {
                                <h6 class="product-title">Detalji tražnje</h6>
                            }
                            <ul class="shipping-info">
                                <li>Datum kreiranja oglasa: @Model.Date</li>
                                <li>Lokacija: @Model.Place</li>
                                @if (Model.IsRequest == false)
                                {
                                    <li>Kolicina: @Model.Quantity</li>
                                    <li>Jedinica: @Model.Unit</li>
                                    <li>Cena po jedinici mere: @Model.Price</li>
                                }
                            </ul>
                        </div>
                        <div class="border-product">
                            <h6 class="product-title">Opis proizvoda</h6>
                            <div>
                                @Model.Description
                            </div>
                        </div>
                        @if (Model.SubCategoryId1 != null || Model.SubCategoryId2 != null || Model.SubCategoryId3 != null)
                        {
                            <div class="border-product">
                                <h6 class="product-title">Kompenzovao bih ili razmenio robu za:</h6>
                                @if (Model.SubCategoryId1 != null)
                                {
                                    <div>@Model.SubCategoryId1</div>
                                }
                                @if (Model.SubCategoryId2 != null)
                                {
                                    <div>@Model.SubCategoryId2</div>
                                }
                                @if (Model.SubCategoryId3 != null)
                                {
                                    <div>@Model.SubCategoryId3</div>
                                }
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


