@model RetailPlatform.API.Models.DTO.ProductPreviewDTO

@{
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>proizvod</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Compexsale</a></li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<section>
    <div class="collection-wrapper ratio_asos">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="row product_image_4">
                        <div class="col-6">
                            <div class="product-preview image-border">
                                <img src="@Model.ImgUrl1" alt=""
                                     class="img-fluid blur-up lazyload bg-img">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="product-preview image-border">
                                <img src="@Model.ImgUrl2" alt=""
                                     class="img-fluid blur-up lazyload bg-img ">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="product-preview image-border">
                                <img src="@Model.ImgUrl3" alt=""
                                     class="img-fluid blur-up lazyload bg-img">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="product-preview image-border">
                                <img src="@Model.ImgUrl4" alt=""
                                     class="img-fluid blur-up lazyload bg-img">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 rtl-text">
                    <div class="product-right">
                        <div class="product-count">
                            <ul>
                                <li>
                                    <span class="lang">@Model.Category</span>
                                </li>
                            </ul>
                        </div>
                        <h2>@Model.Name</h2>

                        <div class="label-section">
                            <span class="badge badge-theme-color">@Model.Active</span>
                            <span> - status oglasa</span>
                        </div>

                        <div class="product-count">
                            <ul>
                                <li>
                                    <img src="~/images/icon/truck.png" class="img-fluid" alt="image">
                                    <span class="lang">Mogućnost organizacije transporta i isporuke.</span>
                                </li>
                            </ul>
                        </div>
                        <div class="border-product">
                            <h6 class="product-title">Načini kupovine / prodaje</h6>
                            <div>
                                @Model.IsComepnsation
                            </div>
                            <div>
                                @Model.IsExchange
                            </div>
                            <div>
                                @Model.IsDiscontSale
                            </div>
                        </div>
                        <div class="border-product">
                            <h6 class="product-title">Detalji proizvoda</h6>
                            <ul class="shipping-info">
                                <li>Datum kreiranja oglasa: @Model.Date</li>
                                <li>Lokacija: @Model.Place</li>
                                <li>Kolicina: @Model.Quantity</li>
                                <li>Jedinica: @Model.Unit</li>
                            </ul>
                        </div>
                        <div class="border-product">
                            <h6 class="product-title">Opis proizvoda</h6>
                            <div>
                                @Model.Description
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="tab-product m-0">
    <div class="container">
        <hr style="margin-bottom:50px;margin-top:50px;" class="rounded">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <ul class="nav nav-tabs nav-material" id="top-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="review-top-tab" data-bs-toggle="tab"
                           href="#top-review" role="tab" aria-selected="false">
                            <i class="icofont icofont-contacts"></i>Postavite pitanja
                        </a>
                        <div class="material-border"></div>
                    </li>
                </ul>
                <div class="tab-content nav-material" id="top-tabContent">
                    <div class="tab-pane fade show active" id="top-review" role="tabpanel" aria-labelledby="review-top-tab">
                        <form class="theme-form">
                            <div class="form-row row">
                                <div class="col-md-6">
                                    <label for="name">Ime i prezime</label>
                                    <input type="text" class="form-control" id="name" placeholder="Enter Your name"
                                           required>
                                </div>
                                <div class="col-md-6">
                                    <label for="email">Email</label>
                                    <input type="text" class="form-control" id="email" placeholder="Email" required>
                                </div>
                                <div class="col-md-12">
                                    <label for="review">Poruka</label>
                                    <textarea class="form-control" placeholder="Wrire Your Testimonial Here"
                                              id="exampleFormControlTextarea1" rows="6"></textarea>
                                </div>
                                <div class="col-md-12">
                                    <button class="btn btn-solid" type="submit">
                                        Pošalji poruku
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

