@{
    Layout = null;
    var error = TempData["Error"] as string;
}

@model RetailPlatform.API.Models.DTO.LoginModel

<!DOCTYPE html>
<html lang="en">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    @*<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Multikart admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin template with unlimited possibilities.">
        <meta name="keywords" content="admin template, Multikart admin template, dashboard template, flat admin template, responsive admin template, web app">
        <meta name="author" content="pixelstrap">
        <link rel="icon" href="../assets/images/dashboard/favicon.png" type="image/x-icon">
        <link rel="shortcut icon" href="../assets/images/dashboard/favicon.png" type="image/x-icon">*@
    <title>Compexsale</title>

    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Font Awesome-->
    <link href="~/css/vendors/fontawesome.css" rel="stylesheet" />

    <!-- Flag icon-->
    <link href="~/css/vendors/themify-icons.css" rel="stylesheet" />

    <!-- slick icon-->
    <link href="~/css/vendors/slick.css" rel="stylesheet" />
    <link href="~/css/vendors/slick-theme.css" rel="stylesheet" />

    <!-- Bootstrap css-->
    <link href="~/css/vendors/bootstrap.css" rel="stylesheet" />

    <!-- App css-->
    <link href="~/css/admin.css" rel="stylesheet" />

</head>
<body>

    <!-- page-wrapper Start-->
    <div class="page-wrapper">
        <div class="authentication-box">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 p-0 card-left">
                        <div class="card bg-primary">
                            <div>
                                <img src="~/images/logo-symbol.png" alt="Compexsale_Company" class="img-fluid">
                            </div>

                            <div class="single-item">
                                <div>
                                    <div>
                                        <h3>Welcome to Compexsale</h3>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 p-0 card-right">
                        <div class="card tab2-card">
                            <div class="card-body">
                                <ul class="nav nav-tabs nav-material" id="top-tab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="top-profile-tab" data-bs-toggle="tab" href="#top-profile" role="tab" aria-controls="top-profile" aria-selected="true"><span class="icon-user me-2"></span>Login</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="contact-top-tab" data-bs-toggle="tab" href="#top-contact" role="tab" aria-controls="top-contact" aria-selected="false"><span class="icon-unlock me-2"></span>Register</a>
                                    </li>
                                </ul>
                                <div class="tab-content" id="top-tabContent">
                                    <div class="tab-pane fade show active" id="top-profile" role="tabpanel" aria-labelledby="top-profile-tab">
                                        <form action="/login" method="post" class="form-horizontal auth-form" novalidate>
                                            <div class="form-group">
                                                @Html.TextBoxFor(model => model.Username, new { @class = "form-control", autocomplete = "off", required = "required" })
                                                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="form-group">
                                                @Html.TextBoxFor(model => model.Password, new { @class = "form-control", @type= "password", autocomplete = "off", required = "required" })
                                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                                @if (!string.IsNullOrEmpty(error))
                                                {
                                                    <p style="color: red; text-align: left; font-size: 13px;">@error</p>
                                                }
                                            </div>
                                            <div style="margin-bottom:1rem;"></div>
                                            <div class="form-terms">
                                                <div class="form-check mesm-2">
                                                    <a href="#" class="btn btn-default forgot-pass">forgot your password</a>
                                                </div>
                                            </div>
                                            <div class="form-button">
                                                <button class="btn btn-primary" type="submit" value="login">Login</button>
                                            </div>

                                        </form>
                                    </div>
                                    <div class="tab-pane fade" id="top-contact" role="tabpanel" aria-labelledby="contact-top-tab">
                                        <form class="form-horizontal auth-form">
                                            <div class="form-group">
                                                <input required="" name="login[username]" type="email" class="form-control" placeholder="Username" id="exampleInputEmail12">
                                            </div>
                                            <div class="form-group">
                                                <input required="" name="login[password]" type="password" class="form-control" placeholder="Password">
                                            </div>
                                            <div class="form-group">
                                                <input required="" name="login[password]" type="password" class="form-control" placeholder="Confirm Password">
                                            </div>
                                            <div class="form-terms">
                                                <div class="form-check mesm-2">
                                                    <input type="checkbox" class="form-check-input" id="customControlAutosizing1">
                                                    <label class="form-check-label ps-2" for="customControlAutosizing1"><span>I agree all statements in <a href="" class="pull-right">Terms &amp; Conditions</a></span></label>
                                                </div>
                                            </div>
                                            <div class="form-button">
                                                <button class="btn btn-primary" type="submit">Register</button>
                                            </div>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="index.html" class="btn btn-primary back-btn"><i data-feather="arrow-left"></i>back</a>
            </div>
        </div>
    </div>

    <!-- latest jquery-->
    <script src="~/js/jquery-3.3.1.min.js"></script>

    <!-- Bootstrap js-->
    <script src="~/js/bootstrap.bundle.min.js"></script>

    <!-- feather icon js-->
    <script src="~/js/feather.min.js"></script>
    <script src="~/js/feather-icon.js"></script>

    <!-- Sidebar jquery-->
    <script src="~/js/sidebar-menu.js"></script>
    <script src="~/js/slick.js"></script>


    <!-- lazyload js-->
    <script src="../assets/js/lazysizes.min.js"></script>

    <!--right sidebar js-->
    <script src="../assets/js/chat-menu.js"></script>

    <!--script admin-->
    <script src="../assets/js/admin-script.js"></script>
    <script>
        $('.single-item').slick({
            arrows: false,
            dots: true
        }
        );
    </script>

</body>
</html>
