@model RetailPlatform.API.Models.DTO.UserDTO

<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-6">
                <div class="page-header-left">
                    <h3>
                        Create User
                        <small>Multikart Admin panel</small>
                    </h3>
                </div>
            </div>
            <div class="col-lg-6">
                <ol class="breadcrumb pull-right">
                    <li class="breadcrumb-item"><a href="index.html"><i data-feather="home"></i></a></li>
                    <li class="breadcrumb-item">Users </li>
                    <li class="breadcrumb-item active">Create User </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->
<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card tab2-card">
                <div class="card-header">
                    <h5> Add User</h5>
                </div>
                <div class="card-body">
                    <ul class="nav nav-tabs tab-coupon" id="myTab" role="tablist">
                        <li class="nav-item"><a class="nav-link active show" id="account-tab" data-bs-toggle="tab" href="#account" role="tab" aria-controls="account" aria-selected="true" data-original-title="" title="">Account</a></li>
                    </ul>
                    <form id="create-user" asp-controller="User" asp-action="CreateUser" autocomplete="off">
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade active show" id="account" role="tabpanel" aria-labelledby="account-tab">

                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="row">
                                    <div class="form-group row col-xl-6 col-md-4 col-sm-12">
                                        <label for="validationCustom0" class="col-xl-3 col-md-4"><span>*</span> First Name</label>
                                        <div class="col-xl-8 col-md-7">
                                            @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", autocomplete = "off", @id = "validationCustom0", required = "required" })
                                            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group row col-xl-6 col-md-4 col-sm-12">
                                        <label for="validationCustom1" class="col-xl-3 col-md-4"><span>*</span> Last Name</label>
                                        <div class="col-xl-8 col-md-7">
                                            @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", autocomplete = "off", @id = "validationCustom1", required = "required" })
                                            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group row col-xl-6 col-md-4 col-sm-12">
                                        <label for="validationCustom2" class="col-xl-3 col-md-4"><span>*</span> Email</label>
                                        <div class="col-xl-8 col-md-7">
                                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control", autocomplete = "off", @id = "validationCustom2", required = "required" })
                                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group row col-xl-6 col-md-4 col-sm-12">
                                        <label for="validationCustom3" class="col-xl-3 col-md-4"><span>*</span> Address</label>
                                        <div class="col-xl-8 col-md-7">
                                            @Html.TextBoxFor(model => model.Address, new { @class = "form-control", autocomplete = "off", @id = "validationCustom3", required = "required" })
                                            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group row col-xl-6 col-md-4 col-sm-12">
                                        <label for="validationCustom4" class="col-xl-3 col-md-4"><span>*</span> City</label>
                                        <div class="col-xl-8 col-md-7">
                                            @Html.TextBoxFor(model => model.City, new { @class = "form-control", autocomplete = "off", @id = "validationCustom4", required = "required" })
                                            @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group row col-xl-6 col-md-4 col-sm-12">
                                        <label for="validationCustom5" class="col-xl-3 col-md-4"><span>*</span> Zip Code</label>
                                        <div class="col-xl-8 col-md-7">
                                            @Html.TextBoxFor(model => model.ZipCode, new { @class = "form-control", autocomplete = "off", @id = "validationCustom5", required = "required" })
                                            @Html.ValidationMessageFor(model => model.ZipCode, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group row col-xl-6 col-md-4 col-sm-12">
                                        <label for="validationCustom6" class="col-xl-3 col-md-4"><span>*</span> Telephone</label>
                                        <div class="col-xl-8 col-md-7">
                                            @Html.TextBoxFor(model => model.Telephone, new { @class = "form-control", autocomplete = "off", @id = "validationCustom6", required = "required" })
                                            @Html.ValidationMessageFor(model => model.Telephone, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group row col-xl-6 col-md-4 col-sm-12">
                                        <label for="validationCustom7" class="col-xl-3 col-md-4"><span>*</span> Working Position</label>
                                        <div class="col-xl-8 col-md-7">
                                            @Html.TextBoxFor(model => model.WorkingPosition, new { @class = "form-control", autocomplete = "off", @id = "validationCustom7", required = "required" })
                                            @Html.ValidationMessageFor(model => model.WorkingPosition, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group row col-xl-6 col-md-4 col-sm-12">
                                        <label for="validationCustom8" class="col-xl-3 col-md-4"><span>*</span> Password</label>
                                        <div class="col-xl-8 col-md-7">
                                            @Html.TextBoxFor(model => model.Password, new { @class = "form-control", autocomplete = "off", @id = "validationCustom8", required = "required" })
                                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group row col-xl-6 col-md-4 col-sm-12">
                                        <label class="col-xl-3 col-md-4"><span>*</span> Role</label>
                                        <div class="col-xl-8 col-md-7">
                                            <select class="custom-select form-control" required="">
                                                <option value="">--Select--</option>
                                                <option value="1">eBooks</option>
                                                <option value="2">Graphic Design</option>
                                                <option value="3">3D Impact</option>
                                                <option value="4">Application</option>
                                                <option value="5">Websites</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--<div class="tab-pane fade" id="permission" role="tabpanel" aria-labelledby="permission-tabs">
                                <h4>Account Details</h4>


                                <br />-->
                            @*<button type="button" id="changePasswordBtn" onclick="changePassword();" class="btn btn-air-light btn-sm pull-left">Change Password</button>*@
                            @*<div id="userPassword" class="form-group row d-none">
                                    <label for="validationCustom2" class="col-xl-3 col-md-4"><span>*</span> Password</label>
                                    <div class="col-xl-8 col-md-7">
                                        <input class="form-control" id="validationCustom2" type="text" required="">
                                    </div>
                                </div>*@
                            @*<div id="repeatUserPassword" class="form-group row d-none">
                                    <label for="validationCustom2" class="col-xl-3 col-md-4"><span>*</span> Repeat Password</label>
                                    <div class="col-xl-8 col-md-7">
                                        <input class="form-control" id="validationCustom2" type="text" required="">
                                    </div>
                                </div>*@
                            <!--</div>-->
                        </div>
                    </form>
                    <div class="pull-right retail-button">
                        <button type="submit" form="create-user" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->


@section dataTables {
    <script src="~/js/custom-js/create-user.js"></script>
    @*<script src="~/js/dashboard/form-validation-custom.js"></script>*@
}